.modalWindowContainer {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 150px;
  background-color: white;
  .modalWindowHead, .modalWindowBody {
    margin: 10px;
  }
}



.modalWindowHead {
  display: flex;
  justify-content: space-between;
}

.modalWindowTaskEditor {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.modalWindowFooter {
  margin: 20px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}
